/* .ng-invalid.ng-invalid.ng-touched{
    border-color: red;
}
form {
    width:100%;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
h1{
    width: 47%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: #7b1fa2;
    font-style: oblique;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #000;
} */

label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: rgba(224, 221, 221, 0.925) 2px solid;
  }

  .form-group{
    text-align: center;

  }
  .form-control{
    color:black!important;
  }
  .form-group label{
    color: rgb(155, 67, 169)!important;
    font-weight: bold;
  }

  .alert.alert-success {
    padding-top: 5px;
    margin-top: 50px!important;
  }
